{% extends 'base.html.twig' %}

{% block title %}{% trans from 'messages' %}userGestion{% endtrans %}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{% trans from 'messages' %}userAll{% endtrans %}</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {% trans from 'messages' %}flashSuccess{% endtrans %}
            </div>
        {% endfor %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>{% trans from 'messages' %}title{% endtrans %}</th>
                    <th>{% trans from 'messages' %}actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{user.name}}</td>
                        <td>
                            <a href="{{ path('admin.user.edit', {id: user.id } ) }}" class="btn btn-secondary">{% trans from 'messages' %}actionEdit{% endtrans %}</a>
                            <form method ="post" action="{{ path('admin.user.delete', {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Are you sure ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                <button class="btn btn-danger">{% trans from 'messages' %}actionDelete{% endtrans %}</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.user.new') }}" class="btn btn-primary">{% trans from 'messages' %}userCreate{% endtrans %}</a>
        </div>
    </div>
{% endblock body %}