{% extends 'base.html.twig' %}

{% block title %}Ingrédient{% endblock %}

{% block adminNav %}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4">
                    <h1>{{ ingredient.name }}</h1>
                    <h4>{{ ingredient.description }}<h4>
                </div>
                <div class="col-md-8">
                    {% if ingredient.filename %}
                        {# | imagine_filter('thumb', runtimeConfig) #}
                        <img src="{{ vich_uploader_asset(ingredient, 'imageFile') }}" alt="card-img-top" style="width: 100%; height:auto">
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
   
    <div class="container mt-4">
        <div class="col-md-8">
            <table class="table table-striped">
                <tr>
                    <td>{% trans from 'messages' %}ingType{% endtrans %}</th>
                    {% for categoryIngredient in ingredient.categoryIngredient %}
                        <td>{{ categoryIngredient }} </td>
                    {% endfor %}
                </tr>
                {% if ingredient.quantity == false %}
                <tr>
                    <td>{% trans from 'messages' %}ingQuantity{% endtrans %}</th>
                    <td>{% trans from 'messages' %}form.ingredient.quantity{% endtrans %}</td>
                    
                </tr>
                {% endif %}
                <tr>
                    <th>{% trans from 'messages' %}ingCarb{% endtrans %}</th>
                    <td>{{ ingredient.carbohydrate|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <th>{% trans from 'messages' %}ingFat{% endtrans %}</th>
                    <td>{{ ingredient.fat|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <th>{% trans from 'messages' %}ingProtein{% endtrans %}</th>
                    <td>{{ ingredient.protein|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <th>{% trans from 'messages' %}ingSugar{% endtrans %}</th>
                    <td>{{ ingredient.sugar|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <th>{% trans from 'messages' %}ingEnergy{% endtrans %}</th>
                    <td>{{ ingredient.energy|number_format(2, '.', ',') }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}