{% trans_default_domain 'app' %}
{% extends 'base.html.twig' %}

{% block title %}Tracker{% endblock title %}

{% block adminNav %}{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <div class="jumbotron text-center">
            <h1>{% trans from 'messages' %}bienvenu{% endtrans %}</h1>
            <p>
                {% trans from 'messages' %}messageHome{% endtrans %}
            </p>
        </div>
        <div class="jumbotron container" style="background-color: white">
            <h2 class="mt-4">{% trans from 'messages' %}lastRecipe{% endtrans %}</h2>
            <div class="row flex">
                {% for recipe in recipes %}
                    <div class="col-3">
                        <div class="card mt-4">
                            {% if recipe.filename %}
                                <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="card-img-top" style="width: 100%; height:auto">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.name }}</a>
                                </h5>
                                <p class="card-text">{{ recipe.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="jumbotron container" style="background-color: white" >
            <h2 class="mt-4" >{% trans from 'messages' %}lastIngredient{% endtrans %}</h2>
            <div class="row flex">
                {% for ingredient in ingredients %}
                    <div class="col-3"> 
                        <div class="card mt-4">
                            {% if ingredient.filename %}
                                <img src="{{ vich_uploader_asset(ingredient, 'imageFile') }}" alt="card-img-top" style="width: 100%; height:auto">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('ingredient.show', {id: ingredient.id, slug: ingredient.slug}) }}">{{ ingredient.name }}</a>
                                </h5>
                                <p class="card-text">{{ ingredient.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}