{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}

    <div style="gap:5rem"  class="d-flex align-items-center js-recipe-ingredient-wrapper"
        data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}"
        data-index="{{ form.ingredients|length }}"
        >
        <a style="gap:5rem" href="#" class="btn btn-sm js-recipe-ingredient-add">
            <span class="fa fa-plus-circle"></span>
            Ajouter un ingrédient
        </a>
    </div>
   
    {{ form_row(form.imageFile) }}
    <button class="btn-primary">{{ button|default('Valider') }}</button>
{{ form_end(form) }}