{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block adminNav %}{% endblock %}

{% block body %}
    <div>
        <h1 class="mt-4">{% trans from 'messages' %}recipeAll{% endtrans %}</h1>
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mt-4">
                        <div class="card-body">
                            {% if recipe.filename %}
                                {# | imagine_filter('thumb', runtimeConfig) #}
                                <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="card-img-top" style="width: 100%; height:auto">
                            {% endif %}
                            <h5 class="card-title">
                                <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.name }}</a>
                            </h5>
                            <div class="text-primary">{{ recipe.description }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-right">
        <a href="{{ path('recipe.new') }}" class="btn btn-primary">{% trans from 'messages' %}recipeCreateOne{% endtrans %}</a>
    </div>
{% endblock body %}