{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block adminNav %}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4">
                    <h1>{{ recipe.name }}</h1>
                    <h2>{{ recipe.description }}</h2>
                </div>
                 <div class="col-md-8">
                    {% if recipe.filename %}
                        {# | imagine_filter('thumb', runtimeConfig) #}
                        <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="card-img-top" style="width: 100%; height:auto">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                {% for ingredientQuantity in recipe.ingredients|default([]) %}
                    <tr>
                        <td>{{ ingredientQuantity.ingredient.name }} </td>
                        <td>{{ ingredientQuantity.ingredient.description }} </td>
                        <td>{{ ingredientQuantity.grams }} {{ "gramme(s)"}} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-4">
            <h2>{% trans from 'messages' %}recipeComposition{% endtrans %}</h2>
            {% set totalFat = 0 %}
            {% set totalProtein = 0 %}
            {% set totalSugar = 0 %}
            {% set totalEnergy = 0 %}
            {% set totalCarbohydrate = 0 %}
            {% for ingredientQuantity in recipe.ingredients %}
                {% set totalFat = totalFat + ingredientQuantity.ingredient.fat  %}
                {% set totalProtein = totalProtein + ingredientQuantity.ingredient.protein %}
                {% set totalSugar = totalSugar + ingredientQuantity.ingredient.sugar %}
                {% set totalEnergy = totalEnergy + ingredientQuantity.ingredient.energy %}
                {% set totalCarbohydrate = totalCarbohydrate + ingredientQuantity.ingredient.carbohydrate %}
            {% endfor %}
            <ul class="list-group">
                <li class="list-group-item">{% trans from 'messages' %}recipeFat{% endtrans %} {{ totalFat|number_format(2, '.', ',') }}</li>
                <li class="list-group-item">{% trans from 'messages' %}recipeProtein{% endtrans %} {{ totalProtein|number_format(2, '.', ',') }}</li>
                <li class="list-group-item">{% trans from 'messages' %}recipeSugar{% endtrans %} {{ totalSugar|number_format(2, '.', ',') }}</li>
                <li class="list-group-item">{% trans from 'messages' %}recipeEnergy{% endtrans %} {{ totalEnergy|number_format(2, '.', ',') }}</li>
                <li class="list-group-item">{% trans from 'messages' %}recipeCarb{% endtrans %} {{ totalCarbohydrate|number_format(2, '.', ',') }}</li>
            </ul>
        </div>
    </div>
{% endblock %}